<div class="bg" [ngStyle]="{'backgroundImage' : getBackgroundImage()}">
    <mat-card>
        <form [formGroup]="formLogin">
            <h1>LOGIN</h1>
    
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required type="email">
                <mat-error *ngIf="formLogin.controls['email'].errors">This field cannot be empty</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="formLogin.controls['password'].errors">This field cannot be empty</mat-error>
            </mat-form-field>
    
            <button mat-flat-button color="primary" type="submit">LOGIN</button>
        </form>
    </mat-card>
</div>