mat-card{
    padding: 32px;
    width: 50%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.bg {
    height: 100%;
    padding-top: 32px;
}

h1 {
    text-align: center;
}